body{
    background-image: url("../images/medicale1.jpg");
}

header{
    height: 15%;
    background-color: white;
    

}
.container{
    background-color: #ffffff94;
    border: 2px solid #ffffff;
    height: 80vh;
}
.image0{
    width: 70px;
    height: 70px;
}
.log{
    height: 85%;
    width: 100%;
}