
.page{
    margin: 0;
    padding: 0;
    background-position: center;
   width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
}
header{
    height: 20vh;
}

.section-authenti{
    width: 100vw;
    margin-top: 5px;
}
.authenti{
    height: 75vh;
    width: 60vw;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ffffff;
    border-radius: 10px 10px;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}
.image{
    width: 50%;
    height: 100%;
    display: inline-block;
    position: relative;
    overflow: hidden;
}
.parent-form{
    width: 100%;

}

.form{
        display: flex;
        flex-direction: column;
        align-content: center;  
        align-items: center;
     
}
.form>input[type="text"],input[type="password"]{
    margin-bottom: 5em;
    width: 80%;
    height: 25px;
    margin: auto;
}