
.page{
    margin: 0;
    padding: 0;
    background-position: center;
   width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
}
header{
    height: 20vh;
}

.section-authenti{
    width: 100vw;
    margin-top: 5px;
}
.authenti{
    height: 75vh;
    width: 40vw;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}
.image{
    overflow: hidden;
    width: 45%;
    height: 100%;
    display: inline-block;
    position: relative;
    overflow: hidden;
}
.form{
        display: flex;
        flex-direction: column;
        align-content: center;
        text-align: justify;  
        align-items: center; 
}