
.page{
    margin: 0;
    padding: 0;
    background-position: center;
   width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
}
.section-authenti{
    width: 100vw;
    

}
.authenti{
    width: 40vw;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin: auto;
}