.conteneur{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    background-image: url("../images/statoscope2.JPG");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
}
.footer{
    margin-bottom: 0px;
    background-color: white;
}
a > span{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
li{
    font-size: 20px;
}